<!DOCTYPE html>
<html>
<head>
    <title>Accueil</title>
    <style>
        .button {
            padding: 10px 20px;
            background-color: #4CAF50; /* Vert pour les boutons généraux */
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            text-decoration: none; /* Enlever le soulignement des liens */
            display: inline-block;
        }
        .logout-button {
            background-color: #f44336; /* Rouge pour le bouton de déconnexion */
        }
    </style>
</head>
<body>
    <h1>Bonjour <%= adminName %></h1> <!-- Afficher le nom de l'administrateur -->
    
    <!-- Bouton pour accéder au tableau de bord -->
    <a href="/dashboard" class="button">Liste des clients</a>

    <!-- Bouton de déconnexion -->
    <form action="/logout" method="post" style="display: inline;">
        <button type="submit" class="button logout-button">Déconnexion</button>
    </form>
</body>
</html>
