<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un Client</title>
</head>
<body>
    <h1>Ajouter un Client</h1>
    <form action="/dashboard/add" method="post">
        <div>
            <label for="Nom">Nom:</label>
            <input type="text" id="Nom" name="Nom" required>
        </div>
        <div>
            <label for="Prenom">Prenom:</label>
            <input type="text" id="Prenom" name="Prenom">
        </div>
        <div>
            <label for="Adresse">email:</label>
            <input type="text" id="Adresse" name="Adresse">
        </div>
        <div>
            <label for="Telephone">adresse:</label>
            <input type="text" id="Telephone" name="Telephone">
        </div>
        <div>
            <label for="Login">telephone</label>
            <input type="text" id="Login" name="Login" required>
        </div>
        <div>
            <label for="Password">password</label>
            <input type="password" id="Password" name="Password" required>
        </div>
        <button type="submit">Ajouter</button>
    </form>
    <a href="/">Retour</a>
</body>
</html>
