<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des administrateurs</title>
</head>
<body>
    <h1>Liste des administrateurs</h1>
    <% if (admins && admins.length > 0) { %>
        <ul>
            <% admins.forEach(admin => { %>
                <li>ID: <%= admin.id %>, Nom d'utilisateur: <%= admin.username %>, password: <%= admin.password %></li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>Aucun administrateur trouvé.</p>
    <% } %>
</body>
</html>
