<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Recherche de Client</title>
</head>
<body>
    <h1>Rechercher un Client</h1>
    <form action="/dashboard/findPage" method="get"> <!-- Notez l'action ici, elle pointe vers la route qui gère la recherche -->
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" required>

    
        <button type="submit">Rechercher</button>
    </form>
</body>
</html>
